.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10rem;
    padding-top: 102px;
    position: relative;
}

.title {
    display: flex;
}

.heading h1 {
    font-size: 5.5rem;
    font-weight: 600;
    color: #fff;
    margin: 0;
    padding: 0;
}

.depositBox, .claimableRewards {
    margin: 2rem;
}

.tabs {
    display: flex;
    margin-bottom: 0.5rem;
}

.tabs p {
    font-size: 1.5rem;
    font-weight: 600;
    color: grey;
    margin-right: 1rem;
    padding: 0;
}

.tabs p:hover {
    color: #fff;
}

.formWrapper p {
    color: #fff;
    font-weight: bolder;
}

.form {
    display: flex;
}

.inputBtn label {
    color: #fff;
    font-weight: bolder;
}

.stakedName, .tvl, .apr, .stake, .earnings, .manage, .claim {
    margin: 0 0.5rem;
}

.stakedName {
    margin: 0;
}