.footerContainer {
    width: 100%;
    z-index: 5;
    background: linear-gradient(90deg, rgba(20,16,64,1) 0%, rgba(44,32,98,1) 35%, rgba(60,46,121,1) 65%, rgba(103,51,186,1) 100%);
    padding-bottom: 3rem;
}

.footerBoxDiv {
  width: 50%;
  margin: 0 auto;
}
  
.footerBox {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.footerLinksHeading {
  color: #fff;
  font-weight: 800;
}

.footerLinksBody {
  color: #808080;
}

.column1, .column2, .column3, .column4 {
    margin: 0 2rem;
    padding: 1rem 0;
    font-family: "Titillium Web", sans-serif !important;
}

.footerImgDiv img {
    width: 50%
}

.belowHrBox {
  padding: 0 3rem;
}

.belowHrBox p {
  color: #808080;
}

@media screen and (max-width: 1650px) {
  .footerBoxDiv {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .footerBoxDiv {
    width: 90%;
  }
  .belowHrBox {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 750px) {
  .footerBoxDiv {
    width: 100%;
  }
  .footerBox {
    font-size: 1rem;
  }
  .belowHrBox {
    padding: 0 3rem;
  }
  .column1, .column2, .column3, .column4 {
    margin: 0 1rem;
    padding: 1rem 0;
  }
}

@media screen and (max-width: 450px) {
  .footerBox {
    font-size: 0.8rem;
  }
  .column1, .column2, .column3, .column4 {
    margin: 0 0.5rem;
    padding: 1rem 0;
  }
  .footerImgDiv img {
    width: 40%
  }
}