.btn {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.75;
  padding: 6px 16px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  min-width: 90px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  transition: all 0.2s ease 0s;
  backface-visibility: hidden;
  /* background: linear-gradient(
    91.59deg,
    rgb(2, 119, 250) -2.14%,
    rgb(255, 78, 147) 101.38%
  ); */
  background: #842fb9;
  text-transform: none;
  width: 320px;
  font-size: 22px;
}

.mainContainerInner {
  width: 100%;
}

.section1 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.section1Inner {
  display: flex;
  flex-direction: column;
}

.section1Inner .section1Col1 { 
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.section1Inner .section1Col1 .left {
  width: 100%;
}

.section1Inner .section1Col1 .left .section1text {
  margin: 0px;
  font-size: 78px;
  text-align: left;
  font-family: "Titillium Web", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 125%;
}

.section1Inner .section1Col1 .right {
  height: 400px;
  margin-top: -78px;
}

.section1Col2 {
  display: flex;
  color: #fff;
}

.section2 {
  margin-top: 150px;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
}

.section3 div {
  display: block;
}

.section3 .section3Inner {
  display: flex !important;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between !important;
}

.section3Left .para1 {
  color: #ffffff;
  opacity: 0.6;
  font-size: 24px;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: 0.17em;
  text-align: left !important;
}

.section3Left .para2 {
  margin: 16px 0px 0px !important;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  font-family: "Titillium Web", sans-serif;
}

.doWhite {
  line-height: 1.5 !important;
  color: #ffffff;
  font-size: 38px !important;
  font-weight: 600 !important;
  line-height: 140% !important;
}

.para3 a {
  margin: 0px;
  text-decoration: none;
  transition: all 0.2s ease 0s;
  color: rgb(2, 119, 250);
}

.section3Right .section3RightInner {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  column-gap: 8px;
}

.section3Right .section3RightInner .boxes {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  column-gap: 8px;
  margin-left: 100px;
}

.boxes .boxCompany {
  box-sizing: border-box;
  margin: 8px 0px;
  flex-direction: row;
  flex-basis: 41.6667%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 41.6667%;
  padding: 8px 8px 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  width: 180px;
  transition: all 0.2s ease 0s;
}

.boxes .boxCompany .boxLink {
  margin: 0px;
  text-decoration: none;
  transition: all 0.2s ease 0s;
  color: rgb(255, 255, 255);
}

.boxLinkImage svg {
  height: inherit;
  width: inherit;
}

.amountBox {
  width: 400px !important;
  margin: 2rem 0.5rem !important;
}

.partnerBox {
  margin-top: 15rem !important;
}

.partnerHeading {
  font-family: "Titillium Web", sans-serif !important;
}

.partnerCard {
  margin: 2rem 1rem;
  -webkit-clip-path: polygon(15% 0, 85% 0, 100% 100%, 0% 100%);
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0% 100%);
  /* border: 2px solid #fff; */
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(74,74,74,1) 53%, rgba(134,134,134,1) 78%, rgba(255,255,255,1) 100%);
  transition: all 0.5s ease-in-out !important;
}

.partnerCard:hover {
  background: rgb(99,57,182);
  background: linear-gradient(90deg, rgba(99,57,182,1) 0%, rgba(210,4,241,1) 50%, rgba(238,126,255,1) 85%, rgba(255,255,255,1) 100%);
  transition: all 0.5s ease-in-out !important;
}

.featureBox {
  margin-top: 15rem !important;
}

.featureHeading {
  font-family: "Titillium Web", sans-serif !important;
}

.featureCard {
  padding: 1rem 1.2rem;
  margin: 2rem 2rem;
  background: #000 !important;
  box-shadow:  9px 9px 7px #e300ff, -9px -9px 7px #39d0d8 !important;
  border-bottom: #e300ff solid 2px !important;
  border-right: #e300ff solid 2px !important;
  border-left: #39d0d8 solid 2px !important;
  border-top: #39d0d8 solid 2px !important;
}

.featureCardHeading {
  color: grey !important;
  margin-bottom: 0.5rem !important;
  font-family: "Titillium Web", sans-serif !important;
}

.section4 {
  margin-top: 160px;
  margin-bottom: 160px;
}

.section4 .innerSection4 {
  display: flex;
  flex-direction: column;
}

.section4 .innerSection4 .innerSection4Partetions {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.section4 .innerSection4 .innerSection4Partetions .innerSection4Left {
  display: block;
}

.innerSection4Left .para1 {
  margin: 0px;
  text-align: left;
  font-family: "Titillium Web", sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0.17em;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  opacity: 0.6;
}

.innerSection4Left .para2 {
  margin: 16px 0px 0px;
  text-align: left;
  font-family: "Titillium Web", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 600;
  line-height: 140%;
}

.innerSection4Right {
  height: 400px;
}

.section5 {
  margin-top: 160px;
  margin-bottom: 160px;
}

.section5 .section5Inner {
  display: flex;
  flex-direction: column;
}

.section5 .section5Inner .maintextContainer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.section5 .para1 {
  margin: 0px;
  font-family: "Titillium Web", sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0.17em;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 140%;
  opacity: 0.6;
}

.section5 .para2 {
  margin: 16px 0px 0px;
  font-family: "Titillium Web", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  line-height: 140%;
}

.section6 {
  margin-top: 240px;
  margin-bottom: 240px;
}

.section6 .section6Inner {
  display: flex;
  flex-direction: column;
}

.section6Inner .section6InnerBoxes {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.section6Inner .section6InnerBoxes .section6left {
  display: flex;
  flex-direction: column;
}

.section6Inner .section6InnerBoxes .section6Right {
  display: flex;
  flex-direction: column;
}

.titleSocial {
  color: #ffffff;
  opacity: 0.6;
  font-size: 24px;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 32px;
  letter-spacing: 0.17em;
}

.boxSocial {
  width: fit-content;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding-right: unset;
  flex-direction: row;
}

.boxSocial .boxInner {
  width: 180px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.boxSocial .boxtext {
  margin: 0px;
  font-size: 24px;
  font-family: Changa, sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 1.167;
}

.section6RightBottom{
    margin-top: 240px;
    display: flex;
    flex-direction: column;
}

.section6RightBottomLeft,.section6RightBottomRight {
  display: flex;
  margin-bottom: 20px;
}

.cardWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
}

/* media query */

@media only screen and(min-width: 0px) {
  .section1Inner .section1Col1 {
    flex-direction: column;
  }
  .section3 .section3Inner {
    flex-direction: column;
  }
  .section3Right .section3RightInner {
    margin-top: -8px;
  }
  .section5 .section5Inner .maintextContainer {
    flex-direction: column;
  }
}

@media only screen and (min-width: 900px) {
  .left {
    margin-bottom: 120px;
  }
  .section6Inner .section6InnerBoxes {
    flex-direction: row;
  }
}

@media only screen and (max-width: 900px) {
  .left {
    margin-bottom: 70px;
  }
  .section1Inner .section1Col1 {
    /* flex-direction: column !important; */
  }
  .section1Col1 .right {
    margin-top: -10px !important;
    margin-bottom: 10px !important;
  }

  .section1Col2 {
    margin-top: 20px;
  }
  .section3Right .section3RightInner {
    margin-top: -24px;
  }
}

@media only screen and(min-width: 600px) {
  .section3 .section3Inner {
    flex-direction: row;
  }
  .section3Right {
    margin-top: 0px;
  }
  .section3Right .section3RightInner {
    margin-top: -16px;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
  .section4 .innerSection4 .innerSection4Partetions {
    flex-direction: row;
  }
  .section5 .section5Inner .maintextContainer {
    flex-direction: row;
  }
  .section6Inner .section6InnerBoxes {
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .section3 .section3Inner {
    flex-direction: column;
  }

  .section3Inner .section3Right {
    margin-top: 79px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .section4 .innerSection4 .innerSection4Partetions{
    flex-direction: column;
  }
  .section4 .innerSection4 .innerSection4Partetions .innerSection4Right{
    margin-top: 5px;
  }
  .reverreverse{
    flex-direction: column-reverse !important;
  }
  .section6InnerBoxes{
    flex-direction: column;
  }

  .section3 .section3Right .section3RightInner .boxes{
    margin-left: 0;
  }
  .monkerrewardLogo{
    width: 95% !important;
  }
  .section6RightBottomLeft,.section6RightBottomRight{
    flex-direction: column;
    gap: 1rem;
  }
  .section1Inner .section1Col1 .left .section1text {
    font-size: 53px;
  }
}






@media only screen and (max-width: 815px) {
  .section1Inner .section1Col1 .left .section1text {
    font-size: 53px;
    text-align: center;
  }

  .section1Col2 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .featureCard {
    width: 100%;
  }
  .section1text {
    font-size: 3.8rem !important;
  }
  .featureHeading {
    font-size: 3.8rem !important;
  }
  .section2 {
    margin-top: 120px;
  }
  .left {
    margin-bottom: 40px;
  }
}

@media only screen and(max-width: 680px) {
  .left {
    margin-bottom: 50px;
  }
  .right {
    display: none;
  }
  .section1Inner {
    gap: 20px;
  }
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
  .section1Inner .section1Col1 .left .section1text {
    text-align: center !important;
  }
}